<%- include("partial/header") -%>

<main>
  <!-- Hero Section -->
  <section class="hero">
    <div class="container">
      <h1>MindFuel Projects</h1>
      <p class="headline">Where Ambitious Students Fuel Real-World Projects</p>
      <div class="card-container">
        <div class="card">
          <img src="/images/student.png" class="card-img-top" alt="students">
          <div class="card-body">
            <h5 class="card-title">Students</h5>
            <p class="card-text">Find internships & projects that propel your skillset.</p>
            <a href="<%= t === 1 ? '/profile' : '/signup' %>" class="btn btn-primary"><%= t === 1 ? 'Profile' : 'Sign Up!' %></a>
          </div>
        </div>
        <div class="card-space"></div>
        <div class="card">
          <img src="/images/client.png" class="card-img-top" alt="client">
          <div class="card-body">
            <h5 class="card-title">Clients</h5>
            <p class="card-text">Tap into a driven student talent pool.</p>
            <a href="/client" class="btn btn-primary">Get Started!</a>
          </div>
        </div>
      </div>
      
    </div>
  </section>

  

<%- include("partial/footer") -%>
