<%-include("partial/header") -%>
<div class="imagebg">
  
  <div class="signup">
    <form class="sign-up-input sign-up" action="/login" method="post">
      <div class="mb-3">
        <label for="username" class="form-label sign-up-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="loginUsername"
          name="loginUsername"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label sign-up-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="loginPassword"
          name="loginPassword"
          required
        />
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">Log In</button>
      </div>
    </form>
  </div>
</div>
<%- include("partial/footer") -%>
