/* Navbar styles */
.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    color: #212529;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

.navbar-nav .nav-link {
    color: #212529;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.logo-title {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logo {
    margin-right: 10px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-link {
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #9ba8b6;
}

.navbar-nav .nav-link {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-item {
    margin-right: 20px;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-left: auto;
    }
}
